div.game {
    text-align: center;
    display:flex;
}
div.game-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    height: 400px;
    width: 400px;
    text-align: left;
    border-color: rgb(77, 74, 74);
    border-style: dashed;
    border-radius: 5cap;
    background-color: rgb(77, 74, 74);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    
}
.game-info button{
    width: 150px;
    color:white;
    border: 1px solid rgb(255, 255, 255);
    margin: 2px;
    padding: 2px;
    
}
.input{
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.button {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.game-info div {
}
.displayTree {
    margin-top: 20px;
    display: flex;
    align-items: center;
justify-content: center;
}
.gameContent{
    margin-top: 25%;
align-items: center;
justify-content: center;
}
.inputContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

button.square {
    height: 60px;
    width: 60px;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    margin: 0px;
    display: inline
}
div.game-board {
    height: 400px;
    width: 400px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    border-color: rgb(77, 74, 74);
    border-style: dashed;
    border-radius: 5cap;
    background-color: rgb(77, 74, 74);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
div.secondboard{
    display: block;
    margin-top: 40px;
    margin-left: 40px;
    height: 400px;
    width: 400px;
    border-color: rgb(77, 74, 74);
    border-style: dashed;
    border-radius: 5cap;
    background-color: rgb(77, 74, 74);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.board-row{
display: flex; 
align-items: center;
justify-content: center;
}
nav {
    display: flex; 
    height: 40px;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
    background-color: brown;
}
nav a {
    vertical-align: middle;
}
ul {
    display: flex; 
    
}
a{
    margin: 5px;
}
.game{
    display: flex; 
align-items: center;
justify-content: center;
}
.formInput {
    align-items: center;
    text-align: center;
    justify-content: center;
}
.inputForm{
    display: flex;
    margin-top: 40px;
    margin-left: 40px;
    height: 400px;
    width: 400px;
    border-color: black;
    border-style: dashed;
    border-radius: 5cap;
    background-color: rgb(77, 74, 74);
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.inputForm button{
    
    display: flex; 
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}
.content-input{
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.label-name{
    display: flex; 
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
}
.galleryContainer {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 4px;
  }
  
  .galleryComponents {
    position: relative;
    overflow: hidden;
  }
  
  .galleryComponents img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0; /* Start with 0 opacity */
    animation: fadeIn 0.5s ease-in-out forwards; /* Animation properties */
  }
  
  .galleryComponents p {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 2; /* Ensure the title is on top of the image */
      background: rgba(255, 255, 255, 0.8); /* Optional: Add a background for better visibility */
      padding: 8px; 
      animation: fadeIn 0.5s ease-in-out forwards; /* Animation properties */
    }
    
    .galleryComponents p {
        text-transform: uppercase;
        font-weight: bold;
        margin: 0; /* Remove default margin */
        animation: fadeIn 0.5s ease-in-out forwards; /* Animation properties */
    }
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }